<nav class="navbar navbar-expand-lg bg-transparent fixed-top">
  <div class="container-fluid">
    <%= image_tag("icon.png", :size=>"30x30")%>
    <%= link_to "Contactly", root_path, :class=>"navbar-brand ms-1"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, :class=>"nav-link text-white"%>
          </li>
          <li class="nav-item">
            <%= link_to "All Contacts", contacts_path, :class=>"nav-link text-white"%>
          </li>
        </ul>
        <%= render "shared/search_form" %>
            <%= link_to new_contact_path, :class=>"btn btn-green" do %>
              <i class="fa-solid fa-plus"></i> New Contact
            <% end %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class=>"btn btn-danger ms-1"%>
        <% else %>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <%= link_to "Login", new_user_session_path, :class=>"btn btn-info mx-2"%>
            <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-primary"%>
          </nav>
        <% end %>
      </ul>
    </div>
  </div>
</nav>