<ul class="list-group list-group-flush">
				<% active = params[:group_id] == nil || params[:group_id].empty? ? 'active' : '' %>
					<%= link_to contacts_path, :class=>"list-group-item d-flex align-items-center justify-content-between #{active}", remote: true do %>
						All Contact <span class="badge bg-dark rounded-pill"><%= current_user.contacts.count %></span>
					<% end %>
				<% current_user.groups.each do |group| %>
					<% active = params[:group_id].to_i == group.id ? 'active' : ''%>
					<%= link_to contacts_path(group_id: group.id), :class=>"list-group-item d-flex align-items-center justify-content-between #{active}", remote: true do %>
						<span><%= group.name %></span>
						<span class="badge bg-dark rounded-pill"><%= group.contacts.count %></span>
					<% end %>
				<% end %>
			</ul>