<%= form_for @contact, html: {multipart: true} do |f| %>

    <% if @contact.errors.any? %>
        <h4><%= @contact.errors.count %> Errors Are Preventing The Form To Be Saved.</h4>
        <% @contact.errors.full_messages.each do |msg| %>
            <span><%= msg %></span><br>
        <% end %>
        <hr>
    <div>
    
    </div>
    <% end %>

    <div class="form-group">
        <div class="text-center mb-2">
            <%= image_tag(url_for(@contact.avatar),:class=>"rounded-circle", :size=>"120x120") if @contact.avatar.attached? %>
        </div>
        <%= f.file_field :avatar, :class=>"form-control"%>
    </div>
    <div class="form-group mt-2">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :class=>"form-control"%>
    </div>
    <div class="form-group mt-2">
        <%= f.label :email %><br/>
        <%= f.text_field :email, :class=>"form-control" %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :company %><br/>
        <%= f.text_field :company, :class=>"form-control" %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :phone %><br/>
        <%= f.text_field :phone, :class=>"form-control" %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :address %><br/>
        <%= f.text_field :address, :class=>"form-control" %>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="form-group mt-2">
                <% attr = {prompt: "Select group"}%>
                <% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
                <%= f.collection_select :group_id, Group.all, :id,:name,attr, class: 'form-control'%>
            </div>
        </div>
        <div class="col-lg-2">
            <%= link_to "Add Group", "#", id: "add-group-btn", class: "btn btn-primary mt-2 col-12"%>
        </div>
    </div>
    <div class="row" id="add-new-group">
        <div class="col-lg-10">
            <div class="form-group mt-2">
                <input type="text" class="form-control" placeholder="Group Name" id="new_group">
            </div>
        </div>
        <div class="col-lg-2">
            <a href="#" id="save-group-btn", class="btn btn-primary mt-2 col-12" do %>
                <i class="fa-solid fa-check"></i>
            </a>
        </div>
    </div>
    <div class="form-group mt-2">
        <%= f.submit "Save", :class=>"btn btn-primary col-12" %>
    </div>
<% end %>