<%= form_for @contact, html: {multipart: true} do |f| %>

    <div class="form-group">
        <div class="text-center mb-2">
            <%= image_tag(url_for(@contact.avatar),:class=>"rounded-circle", :size=>"120x120") if @contact.avatar.attached? %>
        </div>
        <%= f.file_field :avatar, :class=>"form-control"%>
    </div>
    <div class="form-group mt-2">
        <%= f.label :name %>
        <%= f.text_field :name, :class=>"form-control"%>
        <% if has_error?(@contact, :name) %>
            <span class="help-block">
                <%= get_error(@contact, :name) %>
            </span>
        <% end %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :email %>
        <%= f.text_field :email, :class=>"form-control" %>
        <% if has_error?(@contact, :email) %>
            <span class="help-block">
                <%= get_error(@contact, :email) %>
            </span>
        <% end %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :company %>
        <%= f.text_field :company, :class=>"form-control" %>
        <% if has_error?(@contact, :company) %>
            <span class="help-block">
                <%= get_error(@contact, :company) %>
            </span>
        <% end %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :phone %>
        <%= f.text_field :phone, :class=>"form-control" %>
        <% if has_error?(@contact, :phone) %>
            <span class="help-block">
                <%= get_error(@contact, :phone) %>
            </span>
        <% end %>
    </div>
    <div class="form-group mt-2">
        <%= f.label :address %>
        <%= f.text_field :address, :class=>"form-control" %>
        <% if has_error?(@contact, :address) %>
            <span class="help-block">
                <%= get_error(@contact, :address) %>
            </span>
        <% end %>
    </div>
    <div class="row mt-2">
        <label for="">Select Group</label>
        <div class="col-lg-10">
            <div class="form-group mt-2">
                <% attr = {prompt: "Select group"}%>
                <% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
                <%= f.collection_select :group_id, current_user.groups, :id,:name,attr, class: 'form-control'%>
            </div>
        </div>
        <div class="col-lg-2">
            <%= link_to "Add Group", "#", id: "add-group-btn", class: "btn btn-primary mt-2 col-12"%>
        </div>
        <% if has_error?(@contact, :group) %>
            <span class="help-block">
                <%= get_error(@contact, :group) %>
            </span>
        <% end %>
    </div>
    <div class="row" id="add-new-group">
        <div class="col-lg-10">
            <div class="form-group mt-2">
                <input type="text" class="form-control" placeholder="Group Name" id="new_group">
            </div>
        </div>
        <div class="col-lg-2">
            <a href="#" id="save-group-btn", class="btn btn-primary mt-2 col-12" do %>
                <i class="fa-solid fa-check"></i>
            </a>
        </div>
    </div>
    <div class="form-group mt-2">
        <%= f.submit "Save", :class=>"btn btn-primary col-12" %>
    </div>
<% end %>