<div class="row justify-content-center mt-3">
  <div class="col-lg-3">
		<div class="card">
			<ul class="list-group list-group-flush">
				<% active = params[:group_id] == nil || params[:group_id].empty? ? 'active' : '' %>
					<%= link_to contacts_path, :class=>"list-group-item d-flex align-items-center justify-content-between #{active}" do %>
						All Contact <span class="badge bg-dark rounded-pill"><%= Contact.count %></span>
					<% end %>
				<% @groups.each do |group| %>
					<% active = params[:group_id].to_i == group.id ? 'active' : ''%>
					<%= link_to contacts_path(group_id: group.id), :class=>"list-group-item d-flex align-items-center justify-content-between #{active}" do %>
						<span><%= group.name %></span>
						<span class="badge bg-dark rounded-pill"><%= group.contacts.count %></span>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="mt-2">
			<button type="button" class="btn col-12 btn-green"><i class="fa-solid fa-screwdriver-wrench"></i> Account Settings</button>
		</div>
		<div class="mt-1">
			<button type="button" class="btn col-12 btn-green"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</button>
		</div>
	</div>
  <div class="col-lg-9">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<form class="d-flex" role="search">
						<input class="form-control" type="search" placeholder="Search your contact" aria-label="Search">
					</form>
				</div>
			</div>
			<% @contacts.each do |contact| %>
				<div class="card">
					<div class="card-body">
						<div class="row d-flex align-items-center ">
							<div class="col-lg-1">
								<% if contact.avatar.attached? %>
									<%= image_tag(contact.avatar, :size=>"50x50", :class=>"rounded")%>
								<% else %>
									<%= image_tag(contact.gravatar, :size=>"50x50", :class=>"rounded")%>
								<% end %>
							</div>
							<div class="col-lg-9">
								<div class="p d-block">
									<div class="d-flex align-items-center">
										<span><%= contact.name %></span>
										<span>
											<i class="fa-solid fa-circle"></i>
										</span>
										<span class="ms-1 text-gray"><%= contact.group.name %></span>
									</div>
								</div>
								<small class="text-semi-gray"><%= contact.email %></small>
							</div>
							<div class="col-lg-2">
								<div class="d-flex justify-content-end">
									<span>
										<%= link_to edit_contact_path(contact), :class=>"btn btn-sm rounded-pill btn-circle btn-green" do %>
											<i class="fa-solid fa-pencil"></i>
										<% end %>
									</span>
									<span class="ms-2">
										<%= link_to "", :class=>"btn btn-sm rounded-pill btn-circle btn-green" do %>
											<i class="fa-solid fa-trash"></i>
										<% end %>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>

			<div class="d-flex justify-content-center align-items-center mt-3">
	<div><%= paginate @contacts %></div>
</div>
		</div>
	</div>
</div>